python-dotenv
pandas
numpy
pymongo
certifi
#pymongo[srv]==3.6

# this -e . is refering to the setup.py file for making the packages, but in the setup.py the -e . will not be considered
# add this at the last before deploying
##-e .